@import "tailwindcss";

@theme {
    --animate-signal: signal 2s cubic-bezier(0, 0, 0.2, 1) infinite;
    @keyframes signal {
        75%, 100% {
          transform: scale(1.1);
          opacity: 0;
        }
      }
}
